.mat-toolbar {
  height: 50px;
  background-color: #404040;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Comic Sans";
  width: 100%;
}

.img-fluid {
  max-width: 11%;
}

.topNav {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .mat-toolbar {
    flex-direction: row;
    align-items: center;
    height: auto; 
    width: 100%;
  }

  .img-fluid {
    max-width: 50%; 
    margin-bottom: 10px;
  }
}

.form-inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.form-control{
margin-right: 10px;
}
