.treeTop {
  margin: 10px;
  max-width: 387px;
  overflow-x: auto;
  height: 92vh;
  overflow-y: auto;
  overflow-x: auto;
}

.toggle-circle {
  width: 16px;
  height: 16px;
  border: 1.5px solid #404040;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;
}

.toggle-circle mat-icon {
  font-size: 12px;
  line-height: 25px;
  padding-left: 1.5px;
}

.toggle-circle.expanded {
  background-color: #404040;
  color: white;
}

.toggle-circle.collapsed {
  background-color: white;
  color: #404040;
}

.node-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.node-content:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 6px;
}
.node-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.toggleable {
  display: flex;
  align-items: center;
  cursor: pointer;
}
