<div class="editor-container">
  <div class="editor">
    <div class="textarea-wrapper">
      <!-- <textarea rows="10" cols="40" id="codeEditor" [(ngModel)]="jsonText" placeholder="Will get displayed once you select subsystem..."></textarea> -->
      <div contenteditable="true" #contentDiv class="codeEditor" [innerHtml]="jsonText | highlighter:searchText :'partial'"
        placeholder="Will get displayed once you select subsystem..."></div>
    </div>
  </div>
</div>
<div class="buttons-container">

  <app-custombutton label="Validate" (onClick)="ValidateClick()"></app-custombutton>
  <app-custombutton label="Query" (onClick)="QueryClick()"></app-custombutton>
  <app-custombutton label="Save" (onClick)="SaveClick()"></app-custombutton>

</div>